@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body
{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background:  #2c2c2c;
}
.butt1
{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    color: whitesmoke;
    background:  #868686;
    width: 70px;
    height: 70px;
    font-size: 23px;
}
.row1
{
    margin: 8px 0;
}
.row1 input
{
    width: 400px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 23px;
}